Web References/WebStandardInfo/StandardInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="feeModel" type="tns:FeeStandard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FeeStandard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FeeStandardId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Feetop" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FreeMinutes" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FeeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardFee" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FeePerView" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DayStartHour" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DayStartMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DayFirstTimeHour" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DayFirstTimeMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DayTimeUnit" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DayUnitFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DayTopFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DayLowestFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NightStartHour" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NightStartMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NightFirstTimeHour" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NightFirstTimeMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NightTimeUnit" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NightUnitFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NightTopFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NightLowestFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="STTimeUnie" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STUnieFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="STFirstTimeUnitHour" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STFirstTimeUnitMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STFirstTimeFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="STOverNightFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUpload" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="StandardInfoSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StandardInfoSoap" type="tns:StandardInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StandardInfoSoap12" type="tns:StandardInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StandardInfo">
    <wsdl:port name="StandardInfoSoap" binding="tns:StandardInfoSoap">
      <soap:address location="http://zst.gzwulian.com/ClientService/WebServices/StandardInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="StandardInfoSoap12" binding="tns:StandardInfoSoap12">
      <soap12:address location="http://zst.gzwulian.com/ClientService/WebServices/StandardInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>