Web References/WebFCustomerInfo/FCustomerInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fcustomer" type="tns:FCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FCustomer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlateId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OverTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTimeSeg" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeSeg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NeedAlarm" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImgPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlateColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JoinDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BirthDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCard" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMarried" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TopDegree" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Affiliation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="School" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Majou" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NativePlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUpload" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="FCustomerInfoSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FCustomerInfoSoap" type="tns:FCustomerInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FCustomerInfoSoap12" type="tns:FCustomerInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FCustomerInfo">
    <wsdl:port name="FCustomerInfoSoap" binding="tns:FCustomerInfoSoap">
      <soap:address location="http://zst.gzwulian.com/ClientService/WebServices/FCustomerInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="FCustomerInfoSoap12" binding="tns:FCustomerInfoSoap12">
      <soap12:address location="http://zst.gzwulian.com/ClientService/WebServices/FCustomerInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>