Web References/WebChargeInfo/ChargeInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chargeModel" type="tns:ChargeRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChargeRecord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlateId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InImgPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutImgPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OutTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SumMoney" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FeeStandard" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReMoney" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GiveCharge" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatorTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FreeReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParkTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="ChargeInfoSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChargeInfoSoap" type="tns:ChargeInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChargeInfoSoap12" type="tns:ChargeInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChargeInfo">
    <wsdl:port name="ChargeInfoSoap" binding="tns:ChargeInfoSoap">
      <soap:address location="http://zst.gzwulian.com/ClientService/WebServices/ChargeInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ChargeInfoSoap12" binding="tns:ChargeInfoSoap12">
      <soap12:address location="http://zst.gzwulian.com/ClientService/WebServices/ChargeInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>