Web References/WebCarTypeInfo/CarTypeInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carTypeModel" type="tns:CarType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CarType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CarTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargeId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AddTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="CarTypeInfoSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarTypeInfoSoap" type="tns:CarTypeInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarTypeInfoSoap12" type="tns:CarTypeInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarTypeInfo">
    <wsdl:port name="CarTypeInfoSoap" binding="tns:CarTypeInfoSoap">
      <soap:address location="http://zst.gzwulian.com/ClientService/WebServices/CarTypeInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="CarTypeInfoSoap12" binding="tns:CarTypeInfoSoap12">
      <soap12:address location="http://zst.gzwulian.com/ClientService/WebServices/CarTypeInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>