Web References/WebClearInfo/ClearInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parkid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInfoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ClearInfoSoap">
    <wsdl:operation name="DeleteInfo">
      <wsdl:input message="tns:DeleteInfoSoapIn" />
      <wsdl:output message="tns:DeleteInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClearInfoSoap" type="tns:ClearInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteInfo">
      <soap:operation soapAction="http://tempuri.org/DeleteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClearInfoSoap12" type="tns:ClearInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteInfo">
      <soap12:operation soapAction="http://tempuri.org/DeleteInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClearInfo">
    <wsdl:port name="ClearInfoSoap" binding="tns:ClearInfoSoap">
      <soap:address location="http://zst.gzwulian.com/ClientService/WebServices/ClearInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ClearInfoSoap12" binding="tns:ClearInfoSoap12">
      <soap12:address location="http://zst.gzwulian.com/ClientService/WebServices/ClearInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>